*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer-container{
    width: 100%;
    height: 100%;
    background-color: blue;
}
.footer-navbar{
    display: flex;
    justify-content: space-around;
    border: 1px solid white;
}

.navbar-item{
    padding: 20px;
    border-right: 1px solid white;
}
.navbar-item a{
    text-decoration: none;
}
.navbar-item-last{
    padding: 20px;
}
.navbar-item-last a{
    text-decoration: none;
}
h2{
    color: white;
    text-align: center;
}

.footer-icon{
    padding-top: 20px;
}